.caixa{
    margin: auto;
    width: 50%;
    background-color: rgb(187, 187, 187);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgb(136, 136, 136);
}

.background{
    height:964px;
    background-image: linear-gradient(to bottom right, rgb(18, 59, 24), rgb(164, 219, 93));
}
