<article class="container">
  <section class="create" *ngIf="isCreate">

    <h1>Add Class</h1>

    <form>

      <div class="mb-3">
        <label for="name">Class</label>
        <!--<input type="text" class="form-control" id="name" name="name" placeholder="Enter class name" [(ngModel)]="name">-->
        <select
          (change) = "updateClass($event)">
            <option disabled>Select Class Name</option>
            <option *ngFor="let cl of clList">{{cl}}</option>
        </select>
      </div>

      <div class="row" style="margin-bottom:15px;">

        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>

        <div class="col-md-4">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>

      </div>

      <div class="row">

        <div class="offset-md-5 col-md-2">
          <button type="button" class="btn btn-success" (click)="onCreate()">Create</button>
        </div>

      </div>

    </form>
    <div *ngIf="backResponse">
      {{backResponse}}
    </div>

  </section>

  <section class="classes" *ngIf="!isCreate">
    <div class="table-responsive">
      <table mat-table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">UCs da ECOMP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of ECOMP; let index = index">
            <td class="UC-cumprida" *ngIf="ECOMP_prereq[index] == 2">
              {{class.name}}
            </td>
            <td class="UC-com-prereq" *ngIf="ECOMP_prereq[index] == 1">
              {{class.name}}
            </td>
            <td class="UC-sem-prereq" *ngIf="ECOMP_prereq[index] == 0">
              {{class.name}}
            </td>
          </tr>
        </tbody>
      </table>
      <table mat-table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="UC-cumprida">UCs Cumpridas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes">
            <td class="UC-cumprida">{{class}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="offset-md-10 col-md-2">
        <button type="button" class="btn btn-success" (click)="returnToCreate()">New Curricular Unit</button>
      </div>
    </div>

  </section>

</article>