.upload{
  font-weight:bold;
  background-color:#1b742f;
  margin-left: 15px;
  line-height: 36px;
}

:host ::ng-deep .background {
  height: auto;
}

.btn{
  background-color: #1b742f;
  border: #1b742f;
}

.create{
  margin: auto;
  width: 50%;
}

.create h1{
  font-weight: bold;
  font-size: 35px;
}

.UC-cumprida {
  background-color:cadetblue;
  border-style: inset;
}

.UC-com-prereq {
  background-color:yellow;
  border-style: inset;
}

.UC-sem-prereq {
  background-color:red;
  border-style: inset;
}

