<article class="container">
  <!--
  <section class="spec_choose">
    <h1>Choose Specific Course</h1>
    <form [formGroup]="courseForm">
      <div class = "d-grid">
        <select
          (change) = "updateCourse($event)"
          formControlName = "specific_course">
            <option disabled>Select Course</option>
            <option> 
              ECOMP
            </option>
        </select>
      </div>
    </form>
  </section>
  -->
  <section class="create" *ngIf="isCreate">

    <h1>Add Class</h1>

    <form>

      <div class="mb-3">
        <label for="name">Class</label>
        <!--<input type="text" class="form-control" id="name" name="name" placeholder="Enter class name" [(ngModel)]="name">-->
        <select
          (change) = "updateClass($event)"
          formControlName = "classesList">
            <option disabled>Select Class Name</option>
            <option *ngFor="let cl of clList">{{cl}}</option>
        </select>
      </div>

      <div class="row" style="margin-bottom:15px;">

        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>

        <div class="col-md-4">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>

      </div>

      <div class="row">

        <div class="offset-md-5 col-md-2">
          <button type="button" class="btn btn-success" (click)="onCreate()">Create</button>
        </div>

      </div>

    </form>

  </section>

  <section class="classes" *ngIf="!isCreate">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classes of classes">
          <td>{{classes}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="offset-md-10 col-md-2">
        <button type="button" class="btn btn-success" (click)="returnToCreate()">New Curricular Unit</button>
      </div>
    </div>

  </section>

</article>