.nav-link {
    padding: 10px;
    margin: 0 10px;
    color: white;
    text-decoration: none;

    transition: .5s;
    background-color: #165c25;

    border: 1px solid #165c25;
    border-radius: 8px;

}

.nav-link:hover{
    color: #FFF;
    background-color: #0b3113;
}

.navbar {
    background: rgb(187, 187, 187);
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(136, 136, 136);
}

.background{
    height:auto;
    background-image: linear-gradient(to bottom right, rgb(18, 59, 24), rgb(164, 219, 93));
  }

  .mat-table {
    overflow-x: scroll;
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }